<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Proyecto1Biblioteca.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>43CE6F211F59A4F6004E51C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>43CE6F351F59A4F6004E51C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>43CE6F401F59A4F6004E51C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
